
<div  mat-dialog-content class=" mt-2 justify-content-center bs-{{this.config.configInterceptor.fondo}}" >
<div class="  mt-2  d-flex justify-content-center m-2 bs-{{this.config.configInterceptor.fondo}}"  >
    <div class=" mt-2">
      <div class="text-center  justify-content-center">
        <p>
          <img
            border="0"
            src="https://www.santafe.gob.ar/assets/standard/images/gob-santafe.png"
          />
        </p>
        <p>
          <img
            border="0"
            src="https://www.santafe.gob.ar/assets/standard/images/loading.gif"
          />
        </p>
      </div>
    </div>
  </div>
</div>